#title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
 }
 
 li {
 
     font-size: 20px;
     list-style-type: none;
     display: inline-block;
     margin-top: 20px;
     width: 100%;
     max-width: 300px;
     
 }
 
 li:hover {
     background-color: grey;
 }

 #content {
    margin: 0 auto;
 }
 
 #header {
 
     display: flex;
     justify-content: space-between;
 
 }
 
 #wrapper {
 
 margin: auto 0;
 text-align: center;
 width: 100%;
 
 }

 #startBtn {
     margin-top: 30px;
 }
 
 .hide {
 
     display: none;
 
 }