.right {
    float: right;
}

.left {
    float: left;
}

#nav {
    
    display: inline-block;
    width: 98vw;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

#quiz {
    text-align: center;
}

#quizContent {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 7px 14px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px;
}

button:hover {
    background-color: grey;
}