h1 {
    margin-bottom: 30px;
 }
 
 li {
 
     font-size: 75%;
     margin-top: 10px;
     list-style-type: none;
     
 }
 
 li:hover {
     background-color: grey;
 }
 
 #header {
 
     display: flex;
     justify-content: space-between;
 
 }
 
 #wrapper {
 
 margin: auto 0;
 text-align: center;
 width: 100%;
 
 }
 
 .hide {
 
     display: none;
 
 }
 
 .question-options {
 
     display: inline-block;
     width: 100%;
     max-width: 300px;
 }